[mysqld]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /data/mysql-data
# By default we only accept connections from localhost
#bind-address = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0


# adjustment verit 2019-12-23
# Allow enough connections
max_connections=150
# Should be equal or higher then max_connections
thread_cache_size=150
# Amount of memory to use to cache tables, indexes ...
innodb_buffer_pool_size=1G
# Max Logfile size
innodb_log_file_size=512M
# Maximum size of a packet. MySQL dynamically adjusts the packet size.
max_allowed_packet = 1G
# We are not using clustering so this safe
sync_binlog=0
# Linux knows how to handle this
innodb_flush_method=O_DIRECT
# Does not fare well with multiple cores and high concurrency, and it does not fare well with write intensive applications if set to 1.
query_cache_type=0
# Support hardware checksum where available
innodb_checksum_algorithm=crc32
default-storage-engine=INNODB
wait_timeout=604800
# Ende of adjustment